{% extends 'base.html' %}

{% block body %}
    <div class="parent-container">
        <div class="child-container">
            <h1 class="header">Sign Up</h1>
                <form action="" method="POST"> {#    обработчик#}
                    {% csrf_token %}

                    {{ form.as_p }}

                    <p>
                        <button type="submit" class="notes-button">Sign Up</button>
                    </p>
                </form>
        </div>
    </div>

{% endblock %}